header, nav, article, aside, section, footer {
    display: block;
}

body {
    background-color: lightyellow;
}

header {
    margin: 20px 0px 0px 0px;
}

footer {
    text-align: right;
}

h1 {
    background-color: #E0FFFF;
    border-width: 0px 0px 1px 5px;
    border-style: double;
    border-color: #0000FF;
    font-size: 112%;
}

h2 {
    margin: 10px 0px 10px 0px;
    border-width: 0px 0px 2px;
    border-style: groove;
    border-color: #00FA9A;
    font-size: 107%;
}

table {
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0 0 0.5em 0;
    border-spacing: 1px;
    background-color: #fff;
}

th, td {
    padding-top: 3px;
    padding-bottom: 3px;
    padding: 0.1em 5px;
    border: 1px solid #909090;
}

th {
    background-color: #FFDEAD;
}

td {
    background-color: #FFF0C0;
}

input, select {
    margin: 2px 0px;
}

.animescape {
    font-size: 169%;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.title {
    font-size: 130%;
    font-weight: bold;
    padding: 10px 0px;
}
