header, nav, article, aside, section, footer {
    display: block;
}

body {
    background-color: lightyellow;
}

header {
    width: 100%;
    height: 54px;
}

.animescape {
    font-size: 180%;
    display: flex;
    align-items: center;
    height: 100%;
    white-space: nowrap;
}

header .login_menu {
    display: flex;
    align-items: center;
}

footer {
    position: aboslute;
    bottom: 0;
    text-align: center;
    margin-top: 48px;
    width: 100%;
}

h1 {
    background-color: #E0FFFF;
    border-width: 0px 0px 1px 5px;
    border-style: double;
    border-color: #0000FF;
    font-size: 112%;
}

h2 {
    margin: 10px 0px 10px 0px;
    border-width: 0px 0px 2px;
    border-style: groove;
    border-color: #00FA9A;
    font-size: 107%;
}

table {
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0 0 0.5em 0;
    border-spacing: 1px;
    background-color: #fff;
}

th, td {
    padding-top: 3px;
    padding-bottom: 3px;
    padding: 0.1em 5px;
    border: 1px solid #909090;
}

th {
    background-color: #FFDEAD;
}

td {
    background-color: #FFF0C0;
}

textarea {
    width: 100%;
}

input[type="number"] {
    width: 57px;
}

input, select {
    margin: 2px 0px;
}

.title {
    font-size: 130%;
    font-weight: bold;
    padding: 10px 0px;
}

.footer_nav {
    display: none;
}

#menu {
    position: fixed;
    left: -100vw;
}

.back {
    display: none;
}

.comment_even {
    background-color: #FDFDAA;
}

.comment_odd {
    background-color: #FFFFCC;
}

.table-responsive {
    overflow: auto;
    height: 65vh;
}

@media screen and (max-width: 576px) {

    aside {
        position: fixed;
        left: -1000px;
        width: 70% !important;
        height: calc(100% - 54px);
        transition: all 0.2s;
        background: lightyellow;
    }


    #menu:checked ~ aside {
        overflow-y: scroll;
        z-index: 1;
        left: 0;
        top: 0;
    }

    #menu:checked ~ .back {
        display: block;
        position: absolute;
        left: 0;
        top: -95px;
        width: 100%;
        height: calc(100% + 159px);
        background: rgba(0, 0, 0, 0.8) !important;
    }

    .footer_nav {
        background-color: white;
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 54px;
    }

    .footer_nav ul {
        display: flex;
        height: 100%;
    }

    .footer_nav li {
        flex: 1;
        display: flex;
    }

    .footer_nav a {
        color: #212529;
        text-decoration: none;
    }

    footer {
        margin-bottom: 48px;
    }

    .footer_link {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}
